<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] | buyNow_Ecommerce</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/buyNow_Ecommerce.styles.css" asp-append-version="true" />
	<link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
	<header id="NavHeader">
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="NavHeader">
			<div class="container-fluid" id="containerFluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					@*   <img src="~/images/logo.png" alt="Alternate Text" />
					<img src="~/images/logo.png" /> *@
					<img src="~/images/logo.jpg" />
				</a>
				@* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" id="closeSidebar" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">close side bar</span>
				</button> *@

				<button id="openSidebar" class="sidebar_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
				@*  <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>

					</ul>
					<partial name="_LoginPartial" />
				</div> *@
			</div>
		</nav>
		<partial name="_Sidebar" />
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		@{
			DateTime year = DateTime.Now;
			int Year = year.Year;
			Console.WriteLine(Year);


		}
		<partial name="_TestPartials" />

		<div class="container">
			<p><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
			<p>&copy; @Year, buyNow</p>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/togglesidebar.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
