<div class="sidebar" id="sideBar">
	<div class="sidebar_header" id="sidebarHeader">
		<div class="sidebar_header_center" id="sidebarHeaderCenter">

			<img src="~/Images/logo.jpg" />
			<div class="btn sidebar_btn_container">
				<button id="closeSidebar" class="sidebar_btn"><i class="fa fa-times" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
	<hr  class="mx-0 my-0"/>

	<ul class="sidebar_nav mt-0">
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="UserAuth" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="UserAuth" asp-action="Login">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Product" asp-action="Index">Products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Category</a>
		</li>

	</ul>
</div>














