<div class="sidebar" id="sideBar">
    <div class="btn_container">
        <button id="closeSidebar">close side bar</button>
    </div>
    <ul>
        <li>login</li>
        <li>shop</li>
        <li>about us</li>
        <li>login</li>
        <li>login</li>
    </ul>
</div>














