<div class="sidebar" id="sideBar">
	<div class="sidebar_header" id="sidebarHeader">
		<div class="sidebar_header_center" id="sidebarHeaderCenter">

			<img src="~/Images/logo.jpg" />
			<div class="btn sidebar_btn_container">
				<button id="closeSidebar" class="sidebar_btn"><i class="fa fa-times" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
	<hr  class="mx-0 my-0"/>

	<ul class="sidebar_nav mt-0">
		<li>login</li>
		<li>shop</li>
		<li>about us</li>
		<li>login</li>
		<li>login</li>
	</ul>
</div>














