@model buyNow.BAL.Models.ApplicationViewModel




@{
	ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>LOGIN</h4>
<hr />
<div class="grid">
	
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Login.Email" class="control-label"></label>
				<input asp-for="Login.Email" class="form-control" />
				<span asp-validation-for="Login.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Login.Password" class="control-label"></label>
				<input asp-for="Login.Password" class="form-control" />
				<span asp-validation-for="Login.Password" class="text-danger"></span>
			</div>

		<div class="form-btn-container">
				<input type="submit" value="Login" class="btn submit-btn btn-primary" />
			</div>
		</form>
	


</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}