@model buyNow.BAL.Models.ApplicationViewModel




@{
	ViewData["Title"] = "All Product";
}

<h1>@ViewData["Title"]</h1>

<p>
<a asp-controller="Product" asp-action="Create">Create Product</a>
</p>


<div>


</div>