
:root {
    --transition: all 0.3s linear;
    --primaryColorOne: #50A
}




html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100dvh;
    /*border: 1px solid red;*/
}

body {
    /*margin-bottom: 60px;*/
}

.icon {
    color: blue;
}

.sidebar {
    position: fixed;
    top: 0;
    background-color: purple;
    height: 100vh;
    width: 100%;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    width: 60%;
    position: fixed;
    height: 100dvh;
    transition: var(--transition);
    z-index: 999;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid var(--Info-Border, #d0bdf8);
    background: #fff;
    margin-bottom: 0;
}

.show-side-bar {
    transform: translateX(0);
    /*border: 1px solid red;*/
}

.sidebar_header_center {
    display: flex;
    justify-content: space-between;
    /*height: 100px;*/
    /*padding-block: 20px;*/
    padding-inline: 10px;
    align-items: center;
    /*border: 1px solid red;*/
    margin-top: -7px;
    /*width:100%*/
}

.sidebar_header {
    /*border: 1px solid red;*/
    display: grid;
    align-content: center;
    margin-bottom: 0;
}

.sidebar_btn_container {
    /*border: 1px solid red;*/
    display: grid;
    place-content: center;
    margin-right: -10px
}


.sidebar_btn {
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

.navbar-nav {
    /*border: 1px solid red;*/
    display: none;
}

.sidebar_nav {
    /*border:1px solid red;*/
}

.container-fluid {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    display:none;
    
}

.toast-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 9999;
    width: 300px; 
    
    /* Set a custom width if needed */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    /*border: 1px solid blue;*/
    /*width: 100%*/
    padding-block: 1rem;
}

form {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*width: 100%;*/
    padding: 2rem;
    background-color: var(--primaryColorOne);
    box-shadow: 0 0 0 0.1rem white;
    /*width: 80%;*/
    min-width: 200px;
    color: white;
}

.form-btn-container {
    display: grid;
    /*justify-content: center;*/
    align-items: center;
    /*border: 1px solid red;*/
}


.submit-btn{
    width:100%;
    /*border: 1px solid red;*/
    border-radius: 5px;
}


/*media querry*/
@media(min-width: 450px ) {
    .sidebar_btn {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        /*border:1px solid red;*/
        gap: 2rem;
        min-width: max-content;
    }

    form {
      
        /*width: 50%;*/
      
    }
}
